.fundacion {
    text-align: center;
    background-color: rgb(114, 2, 22) ;
    color: white;
}

.border.border-2{
    
    width: 25%;
    height: auto;
}

.nav-link.active {
    color: rgb(191, 3, 53);                                 
}

.nav-link.active:hover{
    color: rgb(255, 0, 0);
}

.buycart {
    display: block;

    width: 50%;
    height: auto;
}

.nav.navbar-expand-lg{
    position: 50%;
}

.logocompany{
   
    
    margin: 0 auto;
    max-width: 100%;
}

.carouseltext{
    text-align: left;
    padding-bottom: 35%;
    
}
