.fundacion {
    text-align: center;
    background-color: rgb(114, 2, 22) ;
    color: white;
}
.tittleShop{
    text-align: center;
    padding-right: 100%;
}
.border.border-2{
    
    width: 25%;
    height: auto;
}

.nav-link.active {
    color: rgb(114, 2, 22);                                 
}

.nav-link.active:hover{
    color: rgb(63, 1, 12)
}

.buycart {
    display: block;

    width: 50%;
    height: auto;
}

.nav.navbar-expand-lg{
    position: 50%;
}


.carousel-inner{
    height: 500px;
    }

.logocompany{   
    margin: 0 auto;
    max-width: 100%;
}

.Carouseltext{
padding-bottom: 60%;
text-align: left;
color: black;
}



.cardimage{
width: 10vw;
height: 100%;
}

.card-title{
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 80%;
}

.container{
    background-color: rgb(255, 255, 255);
}
.navbar{
    background-color:  rgb(114, 2, 22);
}
.container-fluid{
    background-color:rgb(255, 255, 255);
}

.section-header {
    position: relative !important;
    text-align: center !important;
    margin-bottom: 20px;
    display: table;
    width: 100%;
}

h2{
    text-align: center;
    display: inline-block;
    margin: 20px auto 0px;
    background: #fff;
    padding: 0 16px;
    position: relative;
    z-index: 20;
    text-transform: none;
    font-weight: 700;
    font-size: 1em;
    color: rgb(114, 2, 22);
    font-family: 'Quicksand', sans-serif !important;
    
}

.section-header:after{
    position: absolute;
    display: block;
    content: "";
    bottom: 11px;
    left: 0;
    width: 100%;
    height: 1.5px;
    background: rgb(191, 3, 53);
    z-index: 1;
    box-sizing: border-box;
}

.border-white {
    border-color: blue!important;
}

.previuvfooter{
    background-color: rgb(114, 2, 22);
    color: rgb(122, 80, 80);
    font-family: 'Quicksand', sans-serif !important;
}
.buttoncorreo{
    width: 155px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgb(192, 43, 43);
    border: 2px solid rgb(53, 53, 53);
    color: #fff;
    font-weight: 400;
    text-align: center;
}   

.webpaylogo{
    height: 100%;
    width: 100%;
}