.fundacion {
    text-align: center;
    background-color: rgb(73, 197, 255);
    color: white;
}

.badge.text-wrap{
    color: black;
}
.badge.fs-4{
    color:rgb(73, 197, 255);
}
.tittlecategory{
    color: white;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 20px;
}



.card-body{
    margin-top: 8%;
}

.btn.rounded{
    background-color: rgb(200, 202, 202);
}


.btn.btn-secundary.fw-bold{
    background-color: rgb(204, 204, 204);
}

.btn.btn-secundary{
    background-color: rgb(204, 204, 204);
    color: white;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif; 
    
}
.btn.btn.btn-secundary:hover{
    background-color: rgb(34, 221, 221);
}

.container{
    background-color: rgb(34, 221, 221);
}
.container-fluid{
    background: rgb(255, 255, 255);
}
.container-fluid.navbar231{
    background-color: rgb(73, 197, 255);
}

.customscolor{
    background-color: rgb(73, 197, 255);
}


.container-fluid.containernavbar{
    background-color: rgb(73, 197, 255);
}

body{
   
        background: url("../IMAGES/background2.png") repeat; 
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container-fluid.containeradress{
    background-color: white;
}

.carousel-inner  {
    width:100%;
    height:100%;
  }
 


.carousel.item.active {
    width:100%;
    height:100%;
}
.w-100 {
    width: 100% ;
    height: 55vh;
  }
  .tiendalocation{
    margin-left: 2%;
}

  .designcolorcardtittle{
      color: rgb(9, 90, 128);
  }

  .designcolorcard{
    color:  rgb(73, 197, 255);
  }

 .previuvfooter{
     color: white;
 }
 

.btn.rounded-bottom{
    background-color: rgb(204, 204, 204);

}


.logocompany{
    margin-left: 4%;
}
.labelregisterorder{
   margin-left: 2%;
}

.tittlenameregister{
    color: black;
}

.previuvfooter{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: white;
}

.footerimage{
    margin-left: 4%;
}
.logocompany{
    margin-left: 4%;
}

.footercontainer{
    background-color: white;
}

.nav-link.navitemfooter{
    color: rgb(73, 197, 255);
    background: rgb(255, 255, 255);
}

.consultcolor{
    color: #7A7A00;
    font-size: 13px;
}

.consultcolor2{
    color: black;
    font-size: 13px;
}

.consultcolor3{
    color: rgb(73, 197, 255);
    font-size: 13px;
}

.regisprom{
  
    margin-left: 4%;
    font-size:18px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.regispromtittle{
    margin-top: 3%;
    margin-left: 3%;
}

.txtquienessomos{
    
    margin-left: 20%;
    font-size: 36px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.txtinfoquienessomos{
    
    margin-left: 20%;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.customscolorfooter{
    background-color: rgb(255, 255, 255);
    color: rgb(73, 197, 255);
}

.cardimagepromandtext{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    margin-left: 3%;
}

.w-100v2{
    width:  100%;
    height: 20vh;
    padding: 5%;
}

.CategoriasDestacadas{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: rgb(73, 197, 255);
}

.btncategorydesign{
 margin-left: 20%;
 font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
}



.btncategorytext{
    color:rgb(73, 197, 255);
    font-size: 23px;

}

.btncategorytext2{
    color: #000000;
    font-size: 13px;
}

.nav-item.imagepadding{
    padding-left: 60%;
}
